<!DOCTYPE html>
<html>
  <head>
    <title>Revoked UNMS Access</title>
  </head>
  <body>
    <div>
      <p>
        Hi <%= adminName %>,
      </p>
      <p>
        <strong>Your access to the UNMS has been revoked.</strong>
      </p>
      <p>
        UNMS link: <%= unmsHostname %>
      </p>
      <p>
        UNMS
      </p>
    </div>
  </body>
</html>
