<!DOCTYPE html>
<html>
  <head>
    <title>Invitation For UNMS Access</title>
  </head>
  <body>
    <div>
      <p>
        Hi <%= adminName %>,
      </p>
      <p>
        <strong>I have invited you to access the UNMS. Follow this link:</strong>
      </p>
      <p>
        <%= unmsHostname %>
      </p>
      <p>
        Thanks!
      </p>
    </div>
  </body>
</html>








