<!DOCTYPE html>
<html>
  <head>
    <title>UNMS notifications</title>
    <style>
      .connected {
        color: #13bb72;
      }
      .disconnected {
        color: #ff3516;
      }
    </style>
  </head>
  <body>
    <div>
      <p>
        Hi <%- name %>,
      </p>
      <p>
        <strong>you may want to see the following report on recent events:</strong>
      </p>
      <p>
        <%- message
          .replace(/(OLT|ONU|EROUTER|ESWITCH|EPOWER|AIRCUBE|AIRMAX|AIRFIBER|TOUGHSWITCH):\s/g, '')
          .replace(/(\sconnected)/g, "<span class='connected'>$1</span>")
          .replace(/(disconnected)/g, "<span class='disconnected'>$1</span>")
          .replace(/\n/g, '<br />') %>
      </p>
      <p>
        For login into UNMS proceed to: <%- unmsLink %>
      </p>
      <p>
        UNMS
      </p>
    </div>
  </body>
</html>
