<!DOCTYPE html>
<html>
  <head>
    <title>Email Changed for UNMS Admin</title>
  </head>
  <body>
    <div>
      <p>
        Hi <%= adminName %>,
      </p>
      <p>
        <strong>This email has been registered as admin for UNMS.</strong>
      </p>
      <p>
        UNMS link: <%= unmsHostname %>
      </p>
      <p>
        UNMS
      </p>
    </div>
  </body>
</html>
