<!DOCTYPE html>
<html>
  <head>
    <title>You requested a new UNMS password</title>
  </head>
  <body>
    <div>
      <p>
        Hi <%= adminName %>,
      </p>
      <p>
        You recently asked to reset your UNMS password. To continue, follow this link:
      </p>
      <p>
        <strong><%= unmsHostname %>/forgotten-password/reset/<%= passwordToken %></strong>
      </p>
      <p>
        Didn't request this change? It's safe to ignore this email as no change is done upon your account.
      </p>
      <p>
        UNMS
      </p>
    </div>
  </body>
</html>
